#popup-menu {
    position: absolute;
    display: none;
}

#popup-menu > ul.contextual {
    display: block;
}

ul.contextual li {
    position: relative;
}

ul.contextual li a.contextual-submenu::after {
    content: ">";
    float: right;
}

ul.contextual > li:hover > ul.contextual-submenu {
    display: block;
    left: 100%;
    top: 0;
}

html[theme="default"] .alert-danger {
    background-color: #fbdfdf;
    color: #c7201a;
}

html[theme="default"] .alert-warning {
    background-color: #fdf7f1;
    color: #c73f1a;
}

html[theme="default"] .alert-info {
    background-color: #eaf5f5;
    color: #357979;
}
