@color-white:           white;
@color-lightest-grey:   #f9f9f9; //coogcolor
@color-grey:            #8c8c8c; //coogcolor
@color-median-grey:     #777;
@color-black:           #46423d; //coogcolor
@color-blue:            #0094d2; //coogcolor
@color-light-blue:      #00aee5; //coogcolor
@color-lighter-blue:    #a2daf4; //coogcolor
@color-lightest-blue:   #E7F4FC; //coogcolor
@color-lightest-red:    #ffd0cd;

@brand-primary:         @color-blue;
